.site-header
  padding-top: 50px

.lang-sw
  display: flex
  align-content: center
  justify-content: flex-end
  select
    border: none
    background-color: transparent
    color: #ffffff
    cursor: pointer