.site-header
  padding-top: 50px

.lang-sw
  display: flex
  align-content: center
  justify-content: flex-end
  &__item
    padding-right: 23px
    text-transform: uppercase
    &:last-child
      padding-right: 0
    &.active
      font-weight: 600
  &__link
    color: #fff