extends layout/main

block title
  | CodeArty

block content
  #homepage-bg-animation
    .placeholder
  .home-text
    .container
      .row
        .col-12
          .home-text__wrapper
            h1.home-text__title.js-typed-text
              | We build digital
              br
              | products & services
            p.home-text__subtitle We turn technologies and design into a solution for your business
            button.btn.btn-default.button--isi.js-show-popup Send request
  .pop-up
    .container
      .row
        .col-12
          span.pop-up__close.js-popup-close
          h2.pop-up__title Discuss your project
          p.pop-up__subtitle Go ahead, great things start with filling out this contact form
        .col-12
          .list-form
            .row
              .col-12.col-md-6
                .list-form__field
                  label(for='name').list-form__label
                    | Your name
                    span *
                  input(type='text')#name.list-form__name.list-form__input
              .col-12.col-md-6
                .list-form__field
                  label(for='email').list-form__label
                    | Email address
                    span *
                  input(type='email')#email.list-form__email.list-form__input
              .col-12.col-md-6
                .list-form__field
                  label(for='phone').list-form__label Phone (optional)
                  input(type='tel', pattern="[0-9]")#phone.list-form__phone.list-form__input
              .col-12.col-md-6
                .list-form__field
                  label(for='company').list-form__label Company
                  input(type='text')#company.list-form__company.list-form__input
              .col-12
                .list-form__field
                  label(for='idea').list-form__label Tell us about your idea
                  textarea(rows='1')#idea.list-form__idea.list-form__input
              .col-12
                button.btn.btn-primary Submit