extends layout/main

block title
  | CodeArty

block content
  .container
    .row
      .col-12
        h1.title
          | We build creative
          br
          | product & services
        p.subtitle We turn technologies and design into a solution for your business
        button.btn Send request
  .pop-up
    span.pop-up__close
    .container
      .row
        .col-12
          h2.list-form__title Discuss your project
          p.list-form__subtitle Go ahead, great things start with filling out this contact form
        .col-12
          .list-form
            .row
              .col-12.col-md-6
                label(for='name')
                  | Your name
                  span *
                input(type='text')#name.list-form__name
              .col-12.col-md-6
                label(for='email')
                  | Email address
                  span *
                input(type='email')#email.list-form__email
              .col-12.col-md-6
                label(for='phone') Phone (optional)
                input(type='phone')#phone.list-form__phone
              .col-12.col-md-6
                label(for='company') Company
                input(type='text')#company.list-form__company
              .col-12
                label(for='idea') Tell us about your idea
                textarea#idea.list-form__idea
              .col-12
                button.btn.btn-secondary Send request