extends layout/main

block title
  | CodeArty | Web Development & Design

block content
  #homepage-bg-animation
  .home-text
    .container
      .row
        .col-12
          .home-text__wrapper
            h1.home-text__title.js-typed-text.trn
              | Grow your
              br
              | business with us
            p.home-text__subtitle.trn It seems like you are looking for a top-notch, unique and high-performance website. <br> We are ready. Are you?
            button.btn.btn-default.button--isi.js-show-popup.trn Hire us
  .pop-up
    .container
      .row
        .col-12
          .pop-up__bg
            span.pop-up__bg-text.trn Hello CodeArty
          span.pop-up__close.js-popup-close
          h2.pop-up__title.trn Discuss your project
          p.pop-up__subtitle.trn Go ahead, great things start with filling out this contact form
        .col-12
          form.list-form
            .row
              .col-12.col-md-6
                .list-form__field
                  label(for='name').list-form__label.trn Your name
                  input(type='text' name="project_name" required)#name.list-form__name.list-form__input
              .col-12.col-md-6
                .list-form__field
                  label(for='email').list-form__label.trn Email address
                  input(type='email' name="admin_email" required)#email.list-form__email.list-form__input
              .col-12.col-md-6
                .list-form__field
                  label(for='phone').list-form__label.trn Phone (optional)
                  input(type='text' name="customer_number")#phone.list-form__phone.list-form__input
              .col-12.col-md-6
                .list-form__field
                  label(for='company').list-form__label.trn Company
                  input(type='text' name="customer_company")#company.list-form__company.list-form__input
              .col-12
                .list-form__field
                  label(for='idea').list-form__label.trn Tell us about your idea
                  textarea(rows='1' name="form_subject")#idea.list-form__idea.list-form__input
              .col-12
                button.btn.btn-primary.trn Send