extends layout/main

block title
  | CodeArty

block content
  .home-text
    .container
      .row
        .col-12
          .home-text__wrapper
            h1(data-period='2000' data-type='[" digital products & services",' +
            '" digital products & services"]').home-text__title.js-typed-text
             | We build
             br
             | &nbsp;
             span.wrap
            p.home-text__subtitle We turn technologies and design into a solution for your business
            button.btn.js-show-popup Send request
  .pop-up
    .container
      .row
        .col-12
          span.pop-up__close.js-popup-close
          h2.pop-up__title Discuss your project
          p.pop-up__subtitle Go ahead, great things start with filling out this contact form
        .col-12
          .list-form
            .row
              .col-12.col-md-6
                .list-form__field
                  label(for='name').list-form__label
                    | Your name
                    span *
                  input(type='text')#name.list-form__name
              .col-12.col-md-6
                .list-form__field
                  label(for='email').list-form__label
                    | Email address
                    span *
                  input(type='email')#email.list-form__email
              .col-12.col-md-6
                .list-form__field
                  label(for='phone').list-form__label Phone (optional)
                  input(type='phone')#phone.list-form__phone
              .col-12.col-md-6
                .list-form__field
                  label(for='company').list-form__label Company
                  input(type='text')#company.list-form__company
              .col-12
                .list-form__field
                  label(for='idea').list-form__label Tell us about your idea
                  textarea(rows='1')#idea.list-form__idea
              .col-12
                button.btn.btn-secondary Submit