header.site-header
  .container
    .row
      .col-6
        .logo
          a(href='#').logo__link
            img(src='img/logo.svg').logo__img
      .col-6
        .lang-sw
          select
            option(selected) English
            option Russian