header.site-header
  .container
    .row
      .col-6
        .logo
          a(href='#').logo__link logo
      .col-6
        .lang-sw
          .lang-sw__item
            span En
          .lang-sw__item
            span Ru