body
  background-color: $accent-blue-color

.wrapper
  position: relative
  display: flex
  flex-direction: column
  min-height: 100%
  &.overflow
    overflow-y: hidden

#homepage-bg-animation
  position: absolute
  top: 0
  left: 0
  canvas
    position: absolute

.home-text
  position: relative
  display: flex
  align-items: center
  margin: 40px 0
  flex-grow: 1
  z-index: 2
  +xs
    padding-top: 0
  &__wrapper
    text-align: center
  &__title
    margin-bottom: 30px
    +fz(30)
    line-height: 1.2
    color: #ffffff
    +xs
      +fz(45)
    +md
      +fz(60)
    .wrap
      border-right: 0.08em solid #fff
  &__subtitle
    margin-bottom: 40px
    +fz(13)
    color: #ffffff
    +xs
      margin-bottom: 78px
      +fz(16)
  .btn
    position: relative
    z-index: 2    