body
  background-color: $accent-blue-color

.wrapper
  height: 100%

.home-text
  display: flex
  align-items: center
  height: 100%
  &__wrapper
    text-align: center
  &__title
    display: none
    margin-bottom: 40px
    +fz(60)
    line-height: 1.13
    color: #ffffff
  &__subtitle
    margin-bottom: 78px
    line-height: 1.2
    color: #ffffff