body
  background-color: $accent-blue-color

.wrapper
  position: relative
  display: flex
  flex-direction: column
  min-height: 100%
  &.overflow
    overflow-y: hidden

#homepage-bg-animation
  position: absolute
  top: 0
  left: 0
  z-index: -1
  canvas
    position: absolute

.home-text
  display: flex
  align-items: center
  margin: 40px 0
  flex-grow: 1
  +xs
    padding-top: 0
  &__wrapper
    text-align: center
  &__title
    margin-bottom: 40px
    +fz(43)
    line-height: 1.13
    color: #ffffff
    +sm
      +fz(51)
    +md
      +fz(60)
    .wrap
      border-right: 0.08em solid #fff
  &__subtitle
    margin-bottom: 40px
    line-height: 1.2
    color: #ffffff
    +xs
      margin-bottom: 78px