.pop-up
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: auto
  min-height: 100%
  padding: 60px 0
  display: flex
  align-items: center
  background-color: #fff
  text-align: center
  transform: translateY(-100%)
  &__title
    margin: 50px 0 0
    padding-bottom: 20px
    +fz(44)
    line-height: 1.2
    +md
      margin: 40px 0 0
      padding-bottom: 40px
      +fz(54)
  &__subtitle
    line-height: 1.2
  &__title,
  &__subtitle
    position: relative
    background-color: #fff
    z-index: 2
  &__close
    position: relative
    float: right
    display: block
    width: 28px
    height: 28px
    cursor: pointer
    &::before,
    &::after
      +pseudo('')
      width: 100%
      height: 2px
      background-color: $grey-color
      border-radius: 1px
    &::before
      top: 47%
      transform: rotate(45deg)
    &::after
      bottom: 46%
      transform: rotate(-45deg)
    +lg
      margin-right: calc(100% / 12 + 30px)

.list-form
  margin-top: 35px
  +md
    margin-top: 68px
  +lg
    padding: 0 100%/12*2
  &__field
    position: relative
    &.fill
      .list-form__input
        border-bottom-color: $accent-blue-color
  &__label
    position: absolute
    left: 0
    transform: translateY(14px)
    span
      color: red
  label[for='idea']
    top: -4px
  &__input
    width: 100%
    margin-bottom: 25px
    padding: 8px 0
    transition: border-bottom-color 0.3s ease
    & textarea
      padding: 10px 0
      margin-bottom: 40px
    &:focus,
    &.fill
      border-bottom-color: $accent-blue-color
    +fz(20)
    +md
      margin-bottom: 65px
  .btn
    transform: translateY(50px)
    opacity: 0